h1 {
    font-family: Futura, Tahoma;
    margin: 20px 0;
    font-weight: bold;
}

h3 {
    font-family: Futura, Tahoma;
    margin: 14px 0;
}

.green-theme {
    background-color: limegreen;
    height: 10px;
}

.blue-theme {
    background-color: dodgerblue;
    height: 10px;
}

.red-theme {
    background-color: red;
    height: 10px;
}

.orange-theme {
    background-color: darkorange;
    height: 10px;
}